@model MvcSitemap2.Models.SysMenu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SysMenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameCn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteValues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderSn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderSn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SysMenuId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
